<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fujias.common.dao.MenuMapper">

 <select id="getMenuList" parameterType="java.lang.String"
  resultType="com.fujias.common.entity.MenuEntity">
  select
  MResource.id as resourceid
  , MResource.resourceurl as resourceurl
  , MResource.resourcename as resourcename
  , MResource.parentid as parentid
  , MResource.imgvalue as imgvalue 
from
  MResource 
  inner join MRoleResource 
    on MRoleResource.resourceid = MResource.id 
  inner join MUserRoles 
    on MUserRoles.roleid = MRoleResource.roleid 
    and MUserRoles.userid = #{userId,jdbcType=VARCHAR}
where
  MResource.type in ('1', '2')
and MResource.showinmenu = '1'
order by sortorder
 </select>

</mapper>