
.title1 {
	font-family: ĞÂËÎÌE
	FONT-SIZE: 20pt; 
	COLOR: #990000; 
	font-weight: bold;
	margin-top: 10px
}
.title2 {
	font-family: ĞÂËÎÌE
	FONT-SIZE: 12pt; 
	COLOR: #990000; 
	font-weight: bold;
	margin-top: 10px
}
.body {
	FONT-SIZE: 9pt; 
	COLOR: #000000; 
	TEXT-DECORATION: none
}
.list {
	font-family: "ËÎÌE;
	font-size: 9pt;
}
td {font-size: 10pt}
tr {height:30}