<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::commonHeader(~{::head/meta},~{::head/title},~{},~{},~{})">
<title>客户添加</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body onload="loadfocus()">
	<div class="edit-page-content">
		<input id="resourcecd" name="resourcecd" type="hidden" value="P0705" />
		<div id="form1" th:object="${formdata}" class="form-horizontal" style="width: 100%; min-width: 800px;">
			<input id="mode" class="mini-hidden" th:field="*{mode}" />
			<input id="updateTime" class="mini-hidden" th:field="*{updateTime}" />
			<div>
				<div class="tab-content profile-edit-tab-content">
					<div id="edit-basic" class="tab-pane in active">
						<h4 class="header blue bolder smaller">客户信息</h4>
						<div class="vspace-12-sm"></div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">[[#{P0704.code}]]:</label>
							<div class="col-sm-3">
								<input id="code" th:field="*{code}" class="mini-textbox" vtype="code" maxlength="3" required="true" />
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">[[#{P0704.codeName}]]:</label>
							<div class="col-sm-3">
								<input id="codeName" th:field="*{codeName}" class="mini-textbox" vtype="maxLength:64" maxlength="64"
									required="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-kbntypename">[[#{P0704.customerCode}]]:</label>
							<div class="col-sm-3">
								<input id="customerCode" th:field="*{customerCode}" class="mini-textbox" maxlength="8" required="true"/>
							</div>
								<label class="col-sm-1 control-label no-padding-right" for="form-field-username">[[#{P0704.abbName}]]:</label>
							<div class="col-sm-3">
								<input id="abbName" th:field="*{abbName}" class="mini-textbox" vtype="maxLength:16" maxlength="16" required="true"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-1 no-padding-right">[[#{P0704.belonging}]]</label>
							<div class="col-sm-3">
								<input name="belonging" id="belonging"
									class="mini-combobox" th:field="*{belonging}" valueField="value" textField="text" allowInput="false" ajaxType="post"
									required="true" th:url="@{/P0704CustomList/getBelonging}" showNullItem="true" nullItemText="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="text-align: center; padding: 10px;">
				<a class="mini-button btn btn-info btn-round " onclick="onOk()" type="button"> <i
					class="ace-icon fa fa-floppy-o bigger-110"></i>[[#{save}]]
				</a> &nbsp; &nbsp; <a class="mini-button btn btn-warning btn-round" onclick="onCancel()" type="button"> <i
					class="ace-icon fa fa-undo bigger-110"></i> [[#{cancel}]]
				</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var form = new mini.Form("#form1");
		mini.parse();

		// 页面加载完成处理
		$(function() {
			if (mini.get("mode").getValue() == "update") {
				mini.get("code").disable();
				mini.get("customerCode").disable();
			}
		});

		// 保存
		function onOk() {
			form.validate();
			if (form.isValid() == false) {
				businessMessage.alert("E00006");
				return;
			}
			if (mini.get("code").value.length != 3) {
				businessMessage.alert("EC0019");
				return;
			}
			businessMessage.alert("Q00002", null, oksave);
		}
		function oksave() {
			var data = form.getData();
			var accessurl = "";
			if (mini.get("mode").value == "create") {
				accessurl = "/P0704CustomList/add";
			} else {
				accessurl = "/P0704CustomList/update";
			}
			doAjax(accessurl, data, function(obj) {
				businessMessage.alert("IC0001", null, function() {
					CloseWindow("ok");
				});
			});
		}

		// 初始化时focus
		function loadfocus() {
			mini.get("code").focus();
		}
	</script>
</body>

</html>