<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header::commonHeader(~{::head/meta},~{::head/title},~{},~{},~{})">
<title>用户管理添加</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body onload="loadfocus()">
	<div class="edit-page-content">
		<input id="resourcecd" name="resourcecd" type="hidden" value="P0712" />
		<div id="form1" th:object="${formdata}" class="form-horizontal" style="width: 100%; min-width: 800px;">
			<input id="id" class="mini-hidden" th:field="*{id}" /> 
			<input id="mode" class="mini-hidden" th:field="*{mode}" /> 
			<input id="delFlg" class="mini-hidden" th:field="*{delFlg}" />
			<div>
				<div class="tab-content profile-edit-tab-content">
					<div id="edit-basic" class="tab-pane in active">
						<h4 class="header blue bolder smaller">基本信息</h4>

						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">员工编号:</label>
							<div class="col-sm-3">
								<input class="mini-textbox" width="200" id="employeeId" th:field="*{employeeId}" 
								vtype="code" maxlength="32" required="true" />
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">权限:</label>
							<div class="col-sm-3">
								<input class="mini-combobox" width="200" id="roleid" th:field="*{roleid}" 
								valueField="value" textField="text" th:url="@{/P0711User/getRoleOptions}" 
								ajaxType="post" allowInput="false" required="true" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">员工姓名:</label>
							<div class="col-sm-3">
								<input class="mini-textbox" width="200" id="name" th:field="*{name}" 
								vtype="maxLength:20" maxlength="20" required="true" />
							</div>
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">所属部门:</label>
							<div class="col-sm-3">
								<input class="mini-combobox" width="200" id="depid" th:field="*{depid}" 
								valueField="value" textField="text" th:url="@{/P0709Item/getDepartment}" 
								ajaxType="post" allowInput="false" required="true" multiSelect="true" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-username">登陆用户名:</label>
							<div class="col-sm-3">
								<input class="mini-textbox" width="200" id="username" th:field="*{username}" 
								vtype="maxLength:32" maxlength="32" required="true" />
							</div>
						</div>

						<div class="space-4"></div>
					</div>
				</div>
			</div>

			<div style="text-align: center; padding: 10px;">
				<a class="mini-button btn btn-info btn-round " onclick="onOk()" type="button"> 
				<i class="ace-icon fa fa-floppy-o bigger-110"></i> 保存
				</a> &nbsp; &nbsp; <a class="mini-button btn btn-warning btn-round" onclick="onCancel()" type="button"> 
				<i class="ace-icon fa fa-undo bigger-110"></i> 取消
				</a>
			</div>
		</div>
	</div>
	<!-- /.page-content -->

	<script type="text/javascript">
		var form = new mini.Form("#form1");
		mini.parse();
		
		// 页面加载完成处理
        $(function() {
            // 根据页面mode控制页面显示
            if (mini.get("mode").getValue() == "update") {
                mini.get("username").disable();
            } 
        });

		// 保存操作
		function onOk() {
			form.validate();
			if (form.isValid() == false) {
				businessMessage.alert("E00006");
				return;
			}
			businessMessage.alert("Q00002", null, oksave);
		}

		function oksave() {
			var data = form.getData();
			var accessurl = "";
			if (mini.get("mode").value == "create") {
				accessurl = "/P0711User/add";
			} else {
				accessurl = "/P0711User/update";
			}
			doAjax(accessurl, data, function(obj) {
				businessMessage.alert("IC0001", null, function() {
					CloseWindow("ok");
				});
			});
		}

		// 初始化时focus
		function loadfocus() {
			mini.get("employeeId").focus();
		}
	</script>
</body>

</html>